/* Credits: http://codepen.io/psorowka/full/JrKbE */
$notif-blue: rgb(96, 100, 143);
$light-grey: rgb(149,151,154);
$dark-blue: rgb(24,8,83);
$light-blue: rgb(216,216,228);
$search-dark-blue: rgb(184,185,205);

input, label {
    font-size: 1.5em;
    font-family: Share Tech,sans;
}

form > ol {
    list-style: none;
    padding: 0px;
}

form > ol > input-field > li {
    position: relative;
    margin: 1.2em;
}

input, input[type="text"], input[type="password"] {
    padding: 0.1em 0em;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid $search-dark-blue;
    outline: none;
    margin: 0px;
    background: none;
    margin-bottom: 20px;
    color: $dark-blue;
    font-weight: 300;
    display: inline;
}

/**** HERE THE MAGIC STARTS *****/
/* Original label position: top left and small */
label {
    position: absolute;
    top: -1.5em;
    left: 0.08em;
    color: $light-grey;
    z-index:-1;
    font-size: 1.2em;
    animation: float-labels 300ms none ease-out;
  -webkit-animation: float-labels 300ms none ease-out;
   
    /* There is a bug sometimes pausing the animation. This avoids that.*/
    animation-play-state:running !important;
  -webkit-animation-play-state:running !important;
}

/* Label highlight effect also for non-JS browsers */
input:not(.empty):focus + label {
    color: $dark-blue;
}

/* In JS Browsers the .empty class is assigned to empty inputs -> label is rendered like a placeholder in the input field */
input.empty + label {
    top: 0.1em;
    font-size: 1.5em;
    animation:none;
  -webkit-animation:none;
}

/* The animation is a bit more complex than what is achievable with simple transitions, because I do not want the label to fly over my input. The place-holder label should fade out first and then appear again above the input text */
@keyframes float-labels {
  
   0% {
    opacity:1;
    color:$light-grey;
    top:0.1em;
    font-size:1.5em;
  }
  20% {
    font-size:1.5em;
    opacity:0;
  }
  30% {
    top:0.1em;
  }
  50% {
    opacity:0;
    font-size:1.2em;
  }
  100% {
    top:-1.5em; 
    opacity:1; 
  }
}
@-webkit-keyframes float-labels {
  
 0% {
    opacity:1;
    color:$light-grey;
    top:0.1em;
    font-size:1.5em;
  }
  20% {
    font-size:1.5em;
    opacity:0;
  }
  30% {
    top:0.1em;
  }
  50% {
    opacity:0;
    font-size:1.2em;
  }
  100% {
    top:-1.5em; 
    opacity:1; 
  }
}
