@import "mixins";

$notif-blue: rgb(96, 100, 143);
$light-grey: rgb(149,151,154);
$dark-blue: rgb(24,8,83);
$light-blue: rgb(216,216,228);
$search-dark-blue: rgb(184,185,205);

#loading {
  text-align: center;
  color: $dark-blue;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 43px;
  background: white;
  z-index: 10;
  pointer-events: none;
  @include vendor-prefix(transition, "opacity 0.5s");
  &.isLoading {
    opacity: 1;
  }
  &.notLoading {
    opacity: 0;
  }
  img {
    margin-top: 30px
  }
  div {
    font-size: 2em;
  }
}

