#login, #sign-up {
  text-align: center;
  padding-top: 30px;
  a {
    margin-top: 20px;
    font-size: 1.2em;
    display: block;
    text-decoration: none;
    color: $dark-blue;
    &:hover {
      text-decoration: none;
      color: $dark-blue;
    }
  }
}
