$notif-blue: rgb(96, 100, 143);
$light-grey: rgb(149,151,154);
$dark-blue: rgb(24,8,83);
$light-blue: rgb(216,216,228);
$search-dark-blue: rgb(184,185,205);

#single-form {
  padding-top: 30px;
  .submit-container {
    text-align: center;
  }
}
