<div id="sign-up">
	<form name="signUpForm" ng-controller="SignUpController" method="POST" novalidate ng-submit="signUp(user)">
    <ol>
      <input-field field="user.firstName"></input-field>
      <input-field field="user.lastName"></input-field>
      <input-field field="user.email"></input-field>
      <input-field field="user.uniqueId"></input-field>
      <input-field field="user.password"></input-field>
    </ol>
		<input type="submit" value="Sign Up" class="medium-text submit">
	</form>
</div>
