<div id="sign-up">
	<form name="signUpForm" ng-controller="SignUpController" method="POST" novalidate ng-submit="signUp(user)">
    <ol>
      <input-field field="user.firstName"></input-field>
      <input-field field="user.lastName"></input-field>
      <input-field field="user.email"></input-field>
      <input-field field="user.uniqueId"></input-field>
      <input-field field="user.password"></input-field>
    </ol>
		<button class="button button-clear submit medium-text submit" value="Sign Up">Sign Up</button>
	</form>
</div>
