.menu-left {
  display: flex; }

/* Credits: http://codepen.io/psorowka/full/JrKbE */
input, label {
  font-size: 1.5em;
  font-family: Share Tech,sans; }

form > ol {
  list-style: none;
  padding: 0px; }

form > ol > input-field > li {
  position: relative;
  margin: 1.2em; }

input {
  padding: 0.1em 0em;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #555;
  outline: none;
  margin: 0px;
  background: none; }

/**** HERE THE MAGIC STARTS *****/
/* Original label position: top left and small */
label {
  position: absolute;
  top: -1em;
  left: 0.08em;
  color: #aaaaaa;
  z-index: -1;
  font-size: 0.85em;
  animation: float-labels 300ms none ease-out;
  -webkit-animation: float-labels 300ms none ease-out;
  /* There is a bug sometimes pausing the animation. This avoids that.*/
  animation-play-state: running !important;
  -webkit-animation-play-state: running !important; }

/* Label highlight effect also for non-JS browsers */
input:not(.empty):focus + label {
  color: #0099ff; }

/* In JS Browsers the .empty class is assigned to empty inputs -> label is rendered like a placeholder in the input field */
input.empty + label {
  top: 0.1em;
  font-size: 1.5em;
  animation: none;
  -webkit-animation: none; }

/* The animation is a bit more complex than what is achievable with simple transitions, because I do not want the label to fly over my input. The place-holder label should fade out first and then appear again above the input text */
@keyframes float-labels {
  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em; }

  20% {
    font-size: 1.5em;
    opacity: 0; }

  30% {
    top: 0.1em; }

  50% {
    opacity: 0;
    font-size: 0.85em; }

  100% {
    top: -1em;
    opacity: 1; } }

@-webkit-keyframes float-labels {
  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em; }

  20% {
    font-size: 1.5em;
    opacity: 0; }

  30% {
    top: 0.1em; }

  50% {
    opacity: 0;
    font-size: 0.85em; }

  100% {
    top: -1em;
    opacity: 1; } }

#loading {
  color: white;
  position: absolute;
  width: 100%;
  height: -moz-calc(100% - 43px);
  height: -o-calc(100% - 43px);
  height: -webkit-calc(100% - 43px);
  height: calc(100% - 43px);
  top: 43px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }
  #loading.isLoading {
    opacity: 1;
    visibility: visible; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }
